header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/view.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
header a {
  text-align: center;
}
  
header h1 {
  text-align: center;
  font-weight: bolder;
}
  
header img {
  width: 10%;
  height: 10%;
}

.phone-numbers h4 {
  margin: 1vh;
}
  
.emergency-call-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

hr {
  margin: 0;
}