.cell-container {
  display: flex;
  flex-wrap: wrap;
  border: 0.2px white solid;

  overflow: hidden;

  padding: -1px;
}

.square a:hover {
  text-decoration: none;
}

.square:hover img {
  opacity: 0.8;
  transition: 0.3s;
}

.square {
}
