.form-area-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form-wrapper {
    width: 60%;
}
  
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #006233;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}